:root{
  --phone_width: 400px;

  --left_margin: 8px;
  --right_margin: 8px;

  --blue_1: #121879;
  --blue_8: #bed9f9;
  --blue_9: #9cc4f4;

  --gray_2: #343434;
  --gray_8: #ababab;
  --gray_9: #efefef;
}

* {
  font-family: 'Crimson Pro';
  font-weight: 400;
}

@supports (font-variation-settings: "wght" 400) {
  * {
    font-family: 'Crimson Pro';
    font-weight: 400;
  }
}

html{}

body{
  font-size: 32px;
  margin: 0;
  padding: 0;
}

div.pagewrap{
  display: grid;
  column-gap: 12px;
  grid-template-columns: minmax(4ch, 120px) 1fr;
  grid-template-rows: auto minmax(10ch, 1fr) 80px;
  grid-template-areas: "header header"
                       "sidebar main"
                       "footer footer";
}

@media only screen and (max-width: 500px) {
  div.pagewrap{
    grid-template-areas: "header header"
                         "main main"
                         "footer footer";
  }
  div.sidebar{ display: none; }
  div.main{ color: #0f0; }
}
footer{
  background-color: #efefef;
  padding: 0 var(--right_margin) 0 var(--left_margin);
  grid-area: footer;
}

div.sidebar{
  grid-area: sidebar;
  font-weight: 200;
  margin: 0 0 0 var(--left_margin);
  border: 1px solid var(--gray_8);
  background-color: var(--gray_9);
}

div.main{
  grid-area: main;
  margin: 0 var(--right_margin) 0 0;
}
